  <div class="media">

  <div class="avater" style ="float:left; margin-right:5px">
    <%= link_to '#', class: 'pull-left' do %>
      <%= image_tag(comment.user.avatar.tiny.url) if comment.user.avatar? %>
    <% end %>
  </div> 
    <div class="media-body">
      <small><%= comment.user.name %> commented <%= time_ago_in_words(comment.created_at) %> ago
        <% if policy(comment).destroy? %>
          <%= link_to "Delete", [@post, comment], method: :delete %>
        <% end %>
      </small>
      <p><%= comment.body %></p>
    </div>
  </div>